body{
    background-color: rgb(240, 149, 202);
    color: rgb(94, 16, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: rgb(243, 12, 81);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem ;
    margin-top: 0.5rem;
}

#container {
    display: flex;
}
.cartao {
    margin: 1rem 1rem;
    background-color: rgb(78, 23, 92);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 0.6rem);
}
.cartao_conteudo {
    text-align: center;
    background-color: rgb(247, 169, 221);
    height: 100%;
}
.cartao_conteudo h3 {
    background-color: #94fae9;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

