body{
    background-color: rgb(158, 59, 117);
    color: rgb(255, 0, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: rgb(230, 137, 164);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem ;
    margin-top: 0.5rem;
}

#container {
    display: flex;
}
.cartao {
    margin: 1rem 1rem;
    background-color: rgb(78, 23, 92);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 0.6rem);
}
.cartao_conteudo {
    text-align: center;
    background-color: rgb(247, 169, 221);
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;

    .cartao_conteudo_pergunta p {
        color:  var(#511d74);
        font-weight: 500;
    }
}
.cartao_conteudo h3 {
    background-color: #511d74;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao_conteudo_pergunta,
.cartao_conteudo_respota {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao_conteudo_respota {

    transform: rotateY(180deg);
}
.cartao_conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}

